<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Default filesystem points to our local HDFS namenode -->
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ ansible_hostname }}:9000</value>
  </property>

  <!-- Hadoop temporary directory -->
  <property>
    <name>hadoop.tmp.dir</name>
    <value>/var/lib/hadoop/tmp</value>
  </property>
</configuration>
