<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Namenode storage directory -->
  <property>
    <name>dfs.namenode.name.dir</name>
    <value>file:/var/lib/hadoop/hdfs/namenode</value>
  </property>

  <!-- Datanode storage directory -->
  <property>
    <name>dfs.datanode.data.dir</name>
    <value>file:/var/lib/hadoop/hdfs/datanode</value>
  </property>

  <!-- Replication factor (1 for single-node setup) -->
  <property>
    <name>dfs.replication</name>
    <value>1</value>
  </property>
</configuration>
