# configure-rootdn.ldif.j2
dn: olcDatabase={{ ldap_db_index }},cn=config
changetype: modify
replace: olcSuffix
olcSuffix: {{ ldap_basedn }}
-
replace: olcRootDN
olcRootDN: {{ ldap_rootdn }}
-
replace: olcRootPW
olcRootPW: {{ ldap_rootpw_hashed }}
